<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>p2w</title>
    <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
</head>
<body style="text-align: center;">
    <div style="border: 2px solid #333; width:30%; margin:10% auto; display:block;">
        <h3>p2w</h3>
        <div style="width:fit-content; padding:10px; margin:0 auto;">
            <form action="/" method="POST">
                <button class="outline" type="submit">Create a room</button>
            </form>
        </div><br>
        <div style="border:2px solid #333; width:fit-content; padding:10px;  margin:0 auto;">
            <form action="/join" method="POST">
                <input type="text" name="code" id="code" style="width: fit-content;" placeholder="Enter Code"><br>
                <button class="outline" type="submit">Join room</button>
            </form>
        </div><br><br>
    </div>
</body>
</html>