<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>p2w</title>
    <script type="text/javascript" src="https://wzrd.in/standalone/p2pt@1.2.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
    <script>
        const roomId = '<%= roomId %>'
        console.log(roomId)
    </script>
</head>
<body>
    <div style="text-align: center; margin:20px;">
        <h1>p2w</h1>
        <h2>peer2peer writing</h2>
        <h5 id='peopleCount'>People online : 1</h5>
        <textarea name="text" id="text" cols="30" rows="10" style="width: 60%; height:65vh; font-size:24px;"></textarea>
    </div>
    <script src='./main.js' defer></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  
</body>
</html>